
           body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
           }
           #page{
            background-color: lightskyblue;
            color: black;
            padding-top: 20px;
            width: auto;
            float: left;
            padding: 20px;
           }
           #header{
            background-color: purple;
            color: white;
            float: left;
            width: 100%; 
                    
}
        
           #content{
            background-color: yellow;
            float: left;
            width: 100%;
           }
           #main{
            float: left;
            width: 50%;
            
           }
           .entry{
            background-color: black;
            color: white;
            
            margin: 20px;
           }
           #sidebar{
            background-color: black;
            width: 40%;
            color: white;
            margin: 10px;
            float: right;
            height: 20%;
           }
           #darshan{
            background-color: blue;
            color: white;
            float: left;
            width: 100%;
           }
          
